In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [24]:
personas = [
    # Nombre, apellido, edad, provincia
    ('Carla Maria', 'Sosa', 76, 'Corrientes'),
    ('Marianela Monica', 'Gomez', 34, 'Santiago del Estero'),
    ('Andrea Antonela', 'Blanco', 21, 'Tucumán'),
    ('Maria Carla', 'Fernandez', 36, 'San Luis'),
    ('Norma Andrea', 'Bruder', 76, 'San Luis'),
    ('Maximiliano Jorge', 'Bruder', 19, 'Entre Ríos'),
    ('Carlos Jorge', 'Pralong', 66, 'San Luis'),
    ('Luis Jorge', 'Sosa', 43, 'Formosa'),
    ('Cesar Juan', 'Gonzalez', 23, 'Corrientes'),
    ('José Pedro', 'Pralong', 19, 'Corrientes')    
]

In [25]:
resultado = []
for persona in personas:
    if persona[2] < 40:
        resultado.append(persona)

resultado

[('Marianela Monica', 'Gomez', 34, 'Santiago del Estero'),
 ('Andrea Antonela', 'Blanco', 21, 'Tucumán'),
 ('Maria Carla', 'Fernandez', 36, 'San Luis'),
 ('Maximiliano Jorge', 'Bruder', 19, 'Entre Ríos'),
 ('Cesar Juan', 'Gonzalez', 23, 'Corrientes'),
 ('José Pedro', 'Pralong', 19, 'Corrientes')]

In [26]:
resultado = []
for persona in personas:
    if persona[3] == 'Corrientes':
        resultado.append(persona)

resultado

[('Carla Maria', 'Sosa', 76, 'Corrientes'),
 ('Cesar Juan', 'Gonzalez', 23, 'Corrientes'),
 ('José Pedro', 'Pralong', 19, 'Corrientes')]

In [27]:
personas = [
    {'nombre': 'Carla Maria', 'apellido': 'Sosa', 'edad': 76, 'provincia': 'Corrientes'},
    {'nombre': 'Marianela Monica', 'apellido': 'Gomez', 'edad': 34, 'provincia': 'Santiago del Estero'},
    {'nombre': 'Andrea Antonela', 'apellido': 'Blanco', 'edad': 21, 'provincia': 'Tucumán'},
    {'nombre': 'Maria Carla', 'apellido': 'Fernandez', 'edad': 36, 'provincia': 'San Luis'},
    {'nombre': 'Norma Andrea', 'apellido': 'Bruder', 'edad': 76, 'provincia': 'San Luis'},
    {'nombre': 'Maximiliano Jorge', 'apellido': 'Bruder', 'edad': 19, 'provincia': 'Entre Ríos'},
    {'nombre': 'Carlos Jorge', 'apellido': 'Pralong', 'edad': 66, 'provincia': 'San Luis'},
    {'nombre': 'Luis Jorge', 'apellido': 'Sosa', 'edad': 43, 'provincia': 'Formosa'},
    {'nombre': 'Cesar Juan', 'apellido': 'Gonzalez', 'edad': 23, 'provincia': 'Corrientes'},
    {'nombre': 'José Pedro', 'apellido': 'Pralong', 'edad': 19, 'provincia': 'Corrientes'}
]

In [28]:
resultado = []
for persona in personas:
    if persona['edad'] < 40:
        resultado.append(persona)

resultado

[{'apellido': 'Gomez',
  'edad': 34,
  'nombre': 'Marianela Monica',
  'provincia': 'Santiago del Estero'},
 {'apellido': 'Blanco',
  'edad': 21,
  'nombre': 'Andrea Antonela',
  'provincia': 'Tucumán'},
 {'apellido': 'Fernandez',
  'edad': 36,
  'nombre': 'Maria Carla',
  'provincia': 'San Luis'},
 {'apellido': 'Bruder',
  'edad': 19,
  'nombre': 'Maximiliano Jorge',
  'provincia': 'Entre Ríos'},
 {'apellido': 'Gonzalez',
  'edad': 23,
  'nombre': 'Cesar Juan',
  'provincia': 'Corrientes'},
 {'apellido': 'Pralong',
  'edad': 19,
  'nombre': 'José Pedro',
  'provincia': 'Corrientes'}]

In [29]:
resultado = []
for persona in personas:
    if persona['provincia'] == 'Corrientes':
        resultado.append(persona)

resultado

[{'apellido': 'Sosa',
  'edad': 76,
  'nombre': 'Carla Maria',
  'provincia': 'Corrientes'},
 {'apellido': 'Gonzalez',
  'edad': 23,
  'nombre': 'Cesar Juan',
  'provincia': 'Corrientes'},
 {'apellido': 'Pralong',
  'edad': 19,
  'nombre': 'José Pedro',
  'provincia': 'Corrientes'}]

In [30]:
edades = []
for persona in personas:
    edades.append(persona['edad'])

edades

edad_minima = min(edades)
edad_minima

edad_maxima = max(edades)
edad_maxima

edad_promedio = sum(edades) / len(edades)
edad_promedio

[76, 34, 21, 36, 76, 19, 66, 43, 23, 19]

19

76

41.3

In [31]:
        personas = [
    {'nombre': 'Carla Maria', 'apellido': 'Sosa', 'edad': 76, 'provincia': 'Corrientes'},
    {'nombre': 'Marianela Monica', 'apellido': 'Gomez', 'edad': 34, 'provincia': 'Santiago del Estero'},
    {'nombre': 'Andrea Antonela', 'apellido': 'Blanco', 'edad': 21, 'provincia': 'Tucumán'},
    {'nombre': 'Maria Carla', 'apellido': 'Fernandez', 'edad': 36, 'provincia': 'San Luis'},
    {'nombre': 'Norma Andrea', 'apellido': 'Bruder', 'edad': 76, 'provincia': 'San Luis'},
    {'nombre': 'Maximiliano Jorge', 'apellido': 'Bruder', 'edad': 19, 'provincia': 'Entre Ríos'},
    {'nombre': 'Carlos Jorge', 'apellido': 'Pralong', 'edad': 66, 'provincia': 'San Luis'},
    {'nombre': 'Luis Jorge', 'apellido': 'Sosa', 'edad': 43, 'provincia': 'Formosa'},
    {'nombre': 'Cesar Juan', 'apellido': 'Gonzalez', 'edad': 23, 'provincia': 'Corrientes', 'ciudad': 'Itatí'},
    {'nombre': 'José Pedro', 'apellido': 'Pralong', 'provincia': 'Corrientes'}
]

In [32]:
resultado = []
for persona in personas:
    if persona['edad'] < 40:
        resultado.append(persona)

resultado

KeyError: 'edad'

In [33]:
import pandas as pd

df_personas = pd.DataFrame(personas)
df_personas

    apellido ciudad  edad             nombre            provincia
0       Sosa    NaN  76.0        Carla Maria           Corrientes
1      Gomez    NaN  34.0   Marianela Monica  Santiago del Estero
2     Blanco    NaN  21.0    Andrea Antonela              Tucumán
3  Fernandez    NaN  36.0        Maria Carla             San Luis
4     Bruder    NaN  76.0       Norma Andrea             San Luis
5     Bruder    NaN  19.0  Maximiliano Jorge           Entre Ríos
6    Pralong    NaN  66.0       Carlos Jorge             San Luis
7       Sosa    NaN  43.0         Luis Jorge              Formosa
8   Gonzalez  Itatí  23.0         Cesar Juan           Corrientes
9    Pralong    NaN   NaN         José Pedro           Corrientes

Esto es una nota

In [34]:
df_personas["nombre"]

0          Carla Maria
1     Marianela Monica
2      Andrea Antonela
3          Maria Carla
4         Norma Andrea
5    Maximiliano Jorge
6         Carlos Jorge
7           Luis Jorge
8           Cesar Juan
9           José Pedro
Name: nombre, dtype: object

In [35]:
df_personas[['nombre', 'provincia']]

              nombre            provincia
0        Carla Maria           Corrientes
1   Marianela Monica  Santiago del Estero
2    Andrea Antonela              Tucumán
3        Maria Carla             San Luis
4       Norma Andrea             San Luis
5  Maximiliano Jorge           Entre Ríos
6       Carlos Jorge             San Luis
7         Luis Jorge              Formosa
8         Cesar Juan           Corrientes
9         José Pedro           Corrientes

In [36]:
df_personas[ df_personas['edad'] < 40 ]

    apellido ciudad  edad             nombre            provincia
1      Gomez    NaN  34.0   Marianela Monica  Santiago del Estero
2     Blanco    NaN  21.0    Andrea Antonela              Tucumán
3  Fernandez    NaN  36.0        Maria Carla             San Luis
5     Bruder    NaN  19.0  Maximiliano Jorge           Entre Ríos
8   Gonzalez  Itatí  23.0         Cesar Juan           Corrientes

In [37]:
df_personas[ df_personas['provincia'] == 'Corrientes']

   apellido ciudad  edad       nombre   provincia
0      Sosa    NaN  76.0  Carla Maria  Corrientes
8  Gonzalez  Itatí  23.0   Cesar Juan  Corrientes
9   Pralong    NaN   NaN   José Pedro  Corrientes

In [38]:
df_personas = df_personas.append(
    {'nombre': 'Juan', 'apellido': 'Perez', 'edad': 78, 'provincia': 'Corientes'}, ignore_index=True)
df_personas

     apellido ciudad  edad             nombre            provincia
0        Sosa    NaN  76.0        Carla Maria           Corrientes
1       Gomez    NaN  34.0   Marianela Monica  Santiago del Estero
2      Blanco    NaN  21.0    Andrea Antonela              Tucumán
3   Fernandez    NaN  36.0        Maria Carla             San Luis
4      Bruder    NaN  76.0       Norma Andrea             San Luis
5      Bruder    NaN  19.0  Maximiliano Jorge           Entre Ríos
6     Pralong    NaN  66.0       Carlos Jorge             San Luis
7        Sosa    NaN  43.0         Luis Jorge              Formosa
8    Gonzalez  Itatí  23.0         Cesar Juan           Corrientes
9     Pralong    NaN   NaN         José Pedro           Corrientes
10      Perez    NaN  78.0               Juan            Corientes

In [39]:
df_personas.loc[10, 'provincia'] = 'Corrientes'

In [40]:
df_personas['ingresos'] = 0
df_personas['cantidad_hijos'] = [4, 1, 0, 0, 2, 0, 1, 5, 1, 2, 0]
df_personas

,apellido,ciudad,edad,nombre,provincia,ingresos,cantidad_hijos
0,Sosa,NaN,76.0,Carla Maria,Corrientes,0,4
1,Gomez,NaN,34.0,Marianela Monica,Santiago del Estero,0,1
2,Blanco,NaN,21.0,Andrea Antonela,Tucumán,0,0
3,Fernandez,NaN,36.0,Maria Carla,San Luis,0,0
4,Bruder,NaN,76.0,Norma Andrea,San Luis,0,2
5,Bruder,NaN,19.0,Maximiliano Jorge,Entre Ríos,0,0
6,Pralong,NaN,66.0,Carlos Jorge,San Luis,0,1
7,Sosa,NaN,43.0,Luis Jorge,Formosa,0,5
8,Gonzalez,Itatí,23.0,Cesar Juan,Corrientes,0,1
9,Pralong,NaN,NaN,José Pedro,Corrientes,0,2
10,Perez,NaN,78.0,Juan,Corrientes,0,0

In [41]:
df_personas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
apellido          11 non-null object
ciudad            1 non-null object
edad              10 non-null float64
nombre            11 non-null object
provincia         11 non-null object
ingresos          11 non-null int64
cantidad_hijos    11 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 696.0+ bytes

In [42]:
df_personas.describe()

            edad  ingresos  cantidad_hijos
count  10.000000      11.0       11.000000
mean   47.200000       0.0        1.454545
std    24.371203       0.0        1.694912
min    19.000000       0.0        0.000000
25%    25.750000       0.0        0.000000
50%    39.500000       0.0        1.000000
75%    73.500000       0.0        2.000000
max    78.000000       0.0        5.000000

In [44]:
df_personas.shape

(11, 7)